<div class="jumbotron py-2">
  <h1 class="display-4 text-center">Loans</h1>
</div>
<div class="col-md-12">
  <app-loan-form></app-loan-form>
  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Amount</th>
        <th>Date of Request</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of service.list; index as i">
        <td (click)="populateForm(row)">{{row.client.name }}</td>
        <td (click)="populateForm(row)">{{row.amount | currency}}</td>
        <td (click)="populateForm(row)">{{row.requestDate | date:"d/MMM/y"}}</td> 
        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(row.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

